:root {
font-size: 62.5%;
font-family: spotify-circular,
    Circular,
    Helvetica,
    Arial,
    sans-serif;
    font-weight: bold;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;    
}

.cabecera {
    background-color: black;
    padding: 1rem;
}

.icono {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container_menu {
  display: none;
}
.logo{
    height: 3vh;
}

.hamburguesa {
    height: 3vh;
}
.h1{
    font-size: 2.4rem;
    text-align:left;
    padding-top: 5rem;
    
}
.info{
    font-size: 0.7rem;
}
.main-1_h2 {
    font-size: 1.4rem;
    text-align: left;
    padding-top: 1rem;

}
.main {
    background-color: white;
    color: white;
    
}

.main-1 {
    background-color: #5AB7FF;
    border: 2px solid green;
    padding: 1rem;
}
.buttom{
    display:inline-block;
    border-radius: 2rem;
    background-color: green;
    padding: 1rem;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    color: white;
    text-decoration: none;
}
.main-2 {
    
    padding: 40px; 
    background-color: white;
    border: 2px solid orange;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.h2{
    margin-top: -20px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
}

.sub_icono{
    height: 5vh;
}
.container{
    display:flex; 
    flex-direction: row;
    margin-bottom: 40px;
    
}

/*
.pie {
    border: solid red;
    background-color: black;
    color: white;
    
}

.españa {
    text-align: right;
    margin-top: 1rem;
    margin-right: 1rem;
}
.title-pie{
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 0.5rem;
}

.legales {
    border: 2px solid yellow;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
}

.copy {
    text-align: right;
    border: 2px solid yellow;

}

*/

  
  .footer {
    background-color: #333;
    color: #fafafa;
    padding: 1rem;
  }
  
  .pais-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 1rem;
  }
  
  .pais {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid lightblue;
  }

  .spain {
    text-align: center;
    padding: 0.5rem;
  } 
 
  .enlaces {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border: 1px solid red;
  }

  .enlaces-der {
    border: 1px solid yellow;
    list-style: none;
    padding-top: 5px;
  }

 
  .enlaces-izq {
    border: 1px solid yellow;
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    color: white;
  }
/*
  .flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }*/

  .legal {
    display: inline-block;
    padding: 5px;
    list-style: none;
    text-decoration: none;
    color: white;
  } 

  .cookies {
    display: inline-block;
    padding: 5px;
    list-style: none;
    text-decoration: none;
    color: white;
  }

  .enlace-infor {
    border: 1px solid green;
  }

  .informacion {
    text-decoration: none;
    color: white;
  }

  