@media all and (min-width: 480px) {

   
    .hamburguesa {
        display: none;
    }

    .container_menu {
        width: 60%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        list-style-type: none;
    }

    .item {
        color: white;
        font-weight: bold;
        text-decoration: none;
        border: 2px solid red;
    }

    /* .item_barra {
        padding-right: 25px;
        border-right: 1px solid white;
    } */


} 
