<footer class="footer">

    <section class="pais-box">
        <section class="pais">
            <p class="spain">España</p>
            <a class="spain-bandera" href="#">
                <img src="./assets/images/es.svg" alt="Bandera España"></a>
        </section>
    </section>

    <section class="enlaces">
        <ul class="enlaces-izq">
            <li class="flex"> <a class="legal" href="#">Legal</a></li>
            <li> <a class="cookies" href="#">Cookies</a> </li>
        </ul>
        <ul class="enlaces-der">
            <li>
                <p>&copy;2023 Spotify AB</p>
            </li>
        </ul>
    </section>

    <section class="enlace-infor">
        <a class="informacion" href="#">Información sobre los anuncios</a>
    </section>

</footer>