@media all and (min-width:1000px) {

    .buttom {
        font-size: 1.8rem;
        width: 25rem;
        padding: 2rem 5rem 2rem 5rem;        
        border-radius: 5rem;
}
    .info {
        width: 50%;
        font-size: 1.2rem;
        font-weight: 100;
    }

.container {
    width: 25%;
    display: inline-block;
}

/**
* Para poder adaptar "legal", "cookies" y "Información anuncios" tendría que estar en la misma línea. ¿La mejor forma sería haber puesto en lista? 
*/

}