@media all and (min-width:1000px) {

    .buttom {
        font-size: 1.8rem;
        width: 25rem;
        padding: 2rem 5rem 2rem 5rem;        
        border-radius: 5rem;
}
    .info {
        width: 50%;
        font-size: 1.2rem;
        font-weight: 100;
    }

.container {
    width: 25%;
    display: inline-block;
}
.footer{
    margin-top: 15rem;
}
}







