.footer {
    background-color: black;
    color: #fafafa;
    padding: 3rem 1.5rem;
  }
  
  .pais-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 1rem;
  }
  
  .pais {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .spain {
    padding: 0.5rem;
  } 
 
  .enlaces {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
  }

  .enlaces-der {
    list-style: none;
    padding-top: 5px;
  }

 
  .enlaces-izq {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    color: white;
  }

  .legal {
    display: inline-block;
    padding: 5px;
    list-style: none;
    text-decoration: none;
    color: white;
  } 

  .cookies {
    display: inline-block;
    padding: 5px;
    list-style: none;
    text-decoration: none;
    color: white;
  }

  .enlace-infor {
    padding: 5px;
  }

  .informacion {
    text-decoration: none;
    color: white;
  }
