.cabecera {
    background-color: black;
    padding: 1rem;
    width: 100vw;
    height: 25%;
}

.icono {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container_menu {
  display: none;
}
.logo{
    height: 3vh;
}

.hamburguesa {
    height: 3vh;
}


